{% if https %}
server {
  server_name {{ domain_grafana }};

  error_log /var/log/nginx/grafana.error;

  root /usr/share/nginx/html;
  index index.html index.htm;

  location / {
    proxy_pass http://localhost:3000/;
    proxy_set_header Host $host;
  }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ certif_grafana }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ certif_grafana }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
server {
    if ($host = {{ domain_grafana }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


  listen 80;
  listen [::]:80;
  server_name {{ domain_grafana }};
    return 404; # managed by Certbot


}
{% else %}
server {
  listen 80;
  listen [::]:80;
  server_name {{ domain_grafana }};

  error_log /var/log/nginx/grafana.error;

  root /usr/share/nginx/html;
  index index.html index.htm;

  location / {
    proxy_pass http://localhost:3000/;
    proxy_set_header Host $host;
  }
}
{% endif %}