{% if https %}
server {
    server_name {{ domain }};
    root /var/www/autoconfig;

    error_log /var/log/nginx/autoconfig_error.log;
    access_log /var/log/nginx/autoconfig_access.log;


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ certif }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ certif }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
server {
    if ($host = {{ domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    server_name {{ domain }};
    listen 80;
    return 404; # managed by Certbot
}
{% else %}
server {
    server_name {{ domain }};
    root /var/www/autoconfig;

    error_log /var/log/nginx/autoconfig_error.log;
    access_log /var/log/nginx/autoconfig_access.log;
}
{% endif %}