#----------------------------------------------------------
# Proxy for Théo-Net Network
#
upstream tn_network {
    server 127.0.0.1:8089;
    keepalive 64;
}

#----------------------------------------------------------
# Default server configuration
#
server {
    listen 80 default_server ;
    listen [::]:80 default_server ;

    server_name _ ;

    return 301 https://{{ domain_tn_network }}/404.html ;
}

server {
    server_name {{ domain_tn_root }} ;

    return 301 https://{{ domain_tn_network }}/404.html ;

    {% if https %}
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ certif_tn_root }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ certif_tn_root }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
    {% endif %}
}

server {
    server_name {{ domain_tn_fraternite_root }} ;

    return 301 https://{{ domain_tn_fraternite }}/404.html ;

    {% if https %}
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ certif_tn_fraternite_root }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ certif_tn_fraternite_root }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
    {% endif %}
}

{% if https %}

server {
    if ($host = {{ domain_tn_network }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name {{ domain_tn_network }} ;
    listen 80;
    return 404; # managed by Certbot
}

server {
    if ($host = {{ domain_tn_fraternite_root }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name {{ domain_tn_fraternite_root }} ;
    listen 80;
    return 404; # managed by Certbot
}
{% endif %}
