{% if https %}
server {
    server_name {{ domain_tn_kepha }};

    location / {
    	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
    	proxy_set_header Host $http_host;
        
    	proxy_http_version 1.1;
    	proxy_set_header Upgrade $http_upgrade;
    	proxy_set_header Connection "upgrade";
        
    	proxy_pass http://tn_network/;
    	proxy_redirect off;
    	proxy_read_timeout 240s;
    }

    error_log /var/log/nginx/tn_kepha_error.log;
    access_log /var/log/nginx/tn_kepha_access.log;


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ certif_tn_kepha }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ certif_tn_kepha }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}
server {
    if ($host = {{ domain_tn_kepha }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    server_name {{ domain_tn_kepha }};
    listen 80;
    return 404; # managed by Certbot
}
{% else %}
server {
    server_name {{ domain_tn_kepha }};

    location / {
    	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
    	proxy_set_header Host $http_host;
        
    	proxy_http_version 1.1;
    	proxy_set_header Upgrade $http_upgrade;
    	proxy_set_header Connection "upgrade";
        
    	proxy_pass http://tn_network/;
    	proxy_redirect off;
    	proxy_read_timeout 240s;
    }

    error_log /var/log/nginx/tn_kepha_error.log;
    access_log /var/log/nginx/tn_kepha_access.log;
}
{% endif %}